{% extends "base.html" %}

{% block content %}
    <section class="card chart-card">{{ funnel_new_user_events }}</section>
    <section class="card chart-card">{{ daily_install_uninstall_delta_chart }}</section>
    <section class="card chart-card">{{ cum_install_uninstall_chart }}</section>
    <section class="card chart-card">{{ uninstall_last_event_chart }}</section>

    <section class="card">
        <h3>New Users (max 20)</h3>
        <div class="table-scroll-container">
            <table class="table-scroll new-user-table">
            <thead>
                <tr>
                    {% for col in users_cols %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in new_users %}
                <tr>
                    {% for col in users_cols %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </section>
{% endblock %}