{% extends "base.html" %}

{% block content %}
    {{ users_chart }}
    {{ user_behaviour_per_day_chart }}
    {{ funnel_user_lifetime }}    
    {{ session_counts_histogram }}
    {{ daily_install_uninstall_delta_chart }}    
    {{ cum_install_uninstall_chart }}
    {{ total_playtime_histogram }}
    {{ user_last_event_chart }}
    {{ uninstall_last_event_chart }}
    {{ question_progress_histogram }}
    {{ character_progress_histogram }}


<h3>Active User Summary (max 50)</h3>
<div class="table-scroll-container">
    <table class="table-scroll">
            <thead>
                <tr>
                    {% for col in users_sum_cols %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in user_summary %}
                <tr>
                    {% for col in users_sum_cols %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



<h3>New Users (max 20)</h3>
    <table class="table-scroll new-user-table">
            <thead>
                <tr>
                    {% for col in users_cols %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in new_users %}
                <tr>
                    {% for col in users_cols %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}